* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#app {
    width: auto;
    height: 100vh;
    background-color: #009688;
    background-image:
        linear-gradient(to bottom,
            #009688,
            #009688 15%,
            #DCDBD2 15%,
            #DCDBD2 85%,
            #DCDBD2 85%);
}

.io {
    width: 150px;
    border-radius: 100%;
    margin-top: 25px;
    margin-left: 150px;
}

.main-windows {
    width: 1000px;
    height: 991px;
    background-color: white;
    margin-left: 650px;
    position: absolute;
    top: 40px;
}